<?xml version="1.0" encoding="UTF-8"?>

<confluence-configuration>

  <setupStep>{{ alt_setup_step | default('setupstart')  }}</setupStep>
  <setupType>custom</setupType>
  <buildNumber>{{ alt_build_number | default('0')  }}</buildNumber>

  <properties>

      {% if atl_admin_ui is defined %}
         <property name="admin.ui.allow.daily.backup.custom.location">{{ atl_admin_ui_allow_daily_backup_custom_location }}</property>
         <property name="admin.ui.allow.manual.backup.download">{{ atl_admin_ui_allow_manual_backup_download }}</property>
         <property name="admin.ui.allow.site.support.email">{{ atl_admin_ui_allow_site_support_email }}</property>
     {% endif %}

    {% if atl_setup_server_id is defined %}
      <property name="confluence.setup.server.id">{{ atl_setup_server_id }}</property>
    {% endif %}

    {% if atl_licence_message is defined %}
      <property name="atlassian.license.message">{{ atl_licence_message }}</property>
    {% endif %}

    <property name="confluence.database.connection.type">database-type-standard</property>

    <property name="webwork.multipart.saveDir">${localHome}/temp</property>
    <property name="attachments.dir">${confluenceHome}/attachments</property>
    <property name="confluence.webapp.context.path">{{ atl_confluence_webapp_context_path | default('')  }}</property>
    {% if atl_jdbc_url is defined %}
      {% set databases =  {
           "mysql": ["com.mysql.jdbc.Driver", "MySQLDialect"],
           "postgresql": ["org.postgresql.Driver", "PostgreSQLDialect"],
           "mssql": ["com.microsoft.sqlserver.jdbc.SQLServerDriver", "SQLServerDialect"],
           "oracle12c": ["oracle.jdbc.driver.OracleDriver", "OracleDialect"]
          } %}
      <property name="confluence.database.choice">{{ atl_db_type }}</property>

      <property name="hibernate.connection.url">{{ atl_jdbc_url }}</property>
      <property name="hibernate.connection.username">{{ atl_jdbc_user }}</property>
      <property name="hibernate.connection.password">{{ atl_jdbc_password }}</property>
      <property name="hibernate.connection.driver_class">{{ databases[atl_db_type][0] }}</property>
      <property name="hibernate.dialect">com.atlassian.confluence.impl.hibernate.dialect.{{ databases[atl_db_type][1] }}</property>
      <property name="hibernate.database.lower_non_ascii_supported">true</property>
      <property name="hibernate.c3p0.min_size">{{ atl_db_poolminsize | default('20') }}</property>
      <property name="hibernate.c3p0.max_size">{{ atl_db_poolmaxsize | default('100') }}</property>
      <property name="hibernate.c3p0.timeout">{{ atl_db_timeout | default('30') }}</property>
      <property name="hibernate.c3p0.idle_test_period">{{ atl_db_idletestperiod | default('100') }}</property>
      <property name="hibernate.c3p0.max_statements">{{ atl_db_maxstatements | default('0') }}</property>
      <property name="hibernate.c3p0.validate">{{ atl_db_validate | default('false') }}</property>
      <property name="hibernate.c3p0.acquire_increment">{{ atl_db_acquireincrement | default('1') }}</property>
      <property name="hibernate.c3p0.preferredTestQuery">{{ atl_db_validationquery | default('select 1') }}</property>
      <property name="hibernate.connection.isolation">{{ atl_hibernate_connection_isolation | default('2') }}</property>
    {% endif %}

    {% if atl_cluster_type is defined %}
      <property name="confluence.cluster">true</property>
      <property name="confluence.cluster.name">{{ atl_cluster_name }}</property>
      <property name="confluence.cluster.node.name">{{ atl_cluster_node_name }}</property>
      <property name="confluence.cluster.home">{{ atl_product_home_shared | default(confluence_shared_home) | default('') }}</property>
      <property name="shared-home">{{ atl_product_home_shared | default(confluence_shared_home) | default('') }}</property>

      <property name="confluence.cluster.join.type">{{ atl_cluster_type }}</property>
      {% if atl_cluster_type == 'aws' %}
        <property name="confluence.cluster.aws.iam.role">{{ atl_hazelcast_network_aws_iam_role }}</property>
        <property name="confluence.cluster.aws.region">{{ atl_hazelcast_network_aws_iam_region }}</property>
        <property name="confluence.cluster.aws.host.header">{{ atl_hazelcast_network_aws_host_header }}</property>
        <property name="confluence.cluster.aws.security.group.name">{{ atl_hazelcast_network_aws_security_group }}</property>
        <property name="confluence.cluster.aws.tag.key">{{ atl_hazelcast_network_aws_tag_key }}</property>
        <property name="confluence.cluster.aws.tag.value">{{ atl_hazelcast_network_aws_tag_value }}</property>
        <property name="confluence.cluster.ttl">{{ atl_cluster_ttl }}</property>

      {% elif atl_cluster_type == 'tcp_ip' %}
        <property name="confluence.cluster.peers">{{ atl_cluster_peers }}</property>

      {% elif atl_cluster_type == 'multicast' %}
        <property name="confluence.cluster.address">{{ atl_cluster_address }}</property>
        <property name="confluence.cluster.ttl">{{ atl_cluster_ttl }}</property>

      {% endif %}

    {% endif %}

     {% if alt_jwt_private_key is defined %}
          <property name="jwt.private.key">{{ alt_jwt_private_key }}</property>
     {% endif %}

     {% if alt_jwt_public_key is defined %}
          <property name="jwt.public.key">{{ alt_jwt_public_key }}</property>
     {% endif %}

      <property name="lucene.index.dir">{{ atl_lucene_index_dir | default('${localHome}/index') }}</property>

      {% if alt_synchrony_btf is defined and alt_synchrony_btf == 'true' %}
         <property name="synchrony.btf">true</property>
         <property name="synchrony.btf.off">{{  alt_synchrony_btf_off | default ('true')  }}</property>
         <property name="synchrony.encryption.disabled">{{  alt_synchrony_encryption_disabled | default ('true')  }}</property>
         <property name="synchrony.proxy.enabled">{{  alt_synchrony_proxy_enabled | default ('true')  }}</property>
      {% endif %}

  </properties>
</confluence-configuration>